RewriteEngine On
RewriteBase /ns/vc-data-integrity/
AddType application/ld+json .jsonld
AddType text/turtle .ttl


# The v2 of the core VCDM JSON-LD context:
RewriteRule ^v1$ https://w3c.github.io/vc-data-integrity/contexts/data-integrity/v1 [E=json,P]


# HOWEVER: the index is actually not in use, the WG decision (so far) is to keep
# the core vocabulary at https://www.w3.org/2018/credentials/ (with content negotiations installed there).
# Ie, these URL-s yield a 404.
# If the WG's decision is to use the /ns/credentials/ for the core vocabulary, too, then the following three
# lines should be uncommented
# RewriteRule ^index.html$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.html [P]
# RewriteRule ^index.ttl$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.ttl [P]
# RewriteRule ^index.jsonld$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.jsonld [P]

Header set Content-Type application/ld+json env=json


