######################################################################
# Rewrite rules for the SOSA ontology, the SOSA to OBOE and the SOSA
# to O&M alignments.
#
# Ontologies and rules developed by the Spatial Data on the Web WG.
######################################################################

RewriteEngine On
RewriteBase  /ns/sosa/


######################################################################
# Serve the SOSA ontology by default
######################################################################
DirectoryIndex sosa


######################################################################
# File-specific headers
# 
# Set the Content-Disposition HTTP header to improve "save as" dialogs
######################################################################
<Files ~ "sosa\.rdf$">
    Header set Content-Disposition "inline; filename=sosa.rdf"
</Files>

<Files ~ "sosa\.ttl$">
    Header set Content-Disposition "inline; filename=sosa.ttl"
</Files>

<Files ~ "om\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-om.rdf"
</Files>

<Files ~ "om\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-om.ttl"
</Files>

<Files ~ "oboe\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-oboe.rdf"
</Files>

<Files ~ "oboe\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-oboe.ttl"
</Files>


######################################################################
# Redirect requests to individual ontology terms
#
# Redirect depends on the Accept HTTP header. Possible targets are the
# RDF/XML version of the ontology, the Turtle version of the ontology,
# or the right fragment in the specification.
#
# Redirection done with a 303 (See Other) code, see above for details.
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/sosa/(ActuatableProperty|Actuation|Actuator|FeatureOfInterest|ObservableProperty|Observation|Platform|Procedure|Repeatability|Result|Sample|Sampler|Sampling|Sensor|actsOnProperty|madeByActuator|hasFeatureOfInterest|hasResult|hasResultingSample|hasSample|hosts|isActedOnBy|isFeatureOfInterestOf|isHostedBy|isObservedBy|isResultOf|isSampleOf|isSamplingResultOf|madeActuation|madeBySampler|madeBySensor|madeObservation|madeSampling|observedProperty|observes|phenomenonTime|usedProcedure|hasSimpleResult|hasResultTime)$
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn/#SOSA$1 [R=303,NE]

RewriteCond  %{REQUEST_URI}  /ns/sosa/(ActuatableProperty|Actuation|Actuator|FeatureOfInterest|ObservableProperty|Observation|Platform|Procedure|Repeatability|Result|Sample|Sampler|Sampling|Sensor|actsOnProperty|madeByActuator|hasFeatureOfInterest|hasResult|hasResultingSample|hasSample|hosts|isActedOnBy|isFeatureOfInterestOf|isHostedBy|isObservedBy|isResultOf|isSampleOf|isSamplingResultOf|madeActuation|madeBySampler|madeBySensor|madeObservation|madeSampling|observedProperty|observes|phenomenonTime|usedProcedure|hasSimpleResult|hasResultTime)$
RewriteCond %{HTTP_ACCEPT} !text/html
RewriteRule  ^(.*)$  /ns/sosa/ [R=303]
