######################################################################
# Rewrite rules for the SOSA ontology, the SOSA to OBOE and the SOSA
# to O&M alignments.
#
# Ontologies and rules developed by the Spatial Data on the Web WG.
######################################################################

RewriteEngine On


######################################################################
# File-specific headers
#
# Set the Content-Disposition HTTP header to improve "save as" dialogs
######################################################################
<Files ~ "sosa\.rdf$">
    Header set Content-Disposition "inline; filename=sosa.rdf"
</Files>

<Files ~ "sosa\.ttl$">
    Header set Content-Disposition "inline; filename=sosa.ttl"
</Files>

<Files ~ "om\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-om.rdf"
</Files>

<Files ~ "om\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-om.ttl"
</Files>

<Files ~ "oboe\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-oboe.rdf"
</Files>

<Files ~ "oboe\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-oboe.ttl"
</Files>


######################################################################
# Whole namespace
#
# If the request is for the directory (i.e., for the whole sosa
# namespace), either return a redirect to the specification (if the
# client requested HTML) or return the local sosa file (RDF or
# Turtle).
#
# Note: This doesn't take into account what the client prefers, only
# wether it accepts HTML at all. E.g., "Accept:
# application/rdf+xml,text/html;q=0.1" will result in the client
# getting HTML, although it preferrred RDF.
######################################################################

RewriteCond  %{HTTP_ACCEPT}  \btext/html\b
RewriteRule  ^$  https://www.w3.org/TR/vocab-ssn/ [R=303,NE,env=redirect:1,L]

RewriteRule  ^$  sosa

######################################################################
# Redirect requests to individual ontology terms
#
# Otherwise, if the request cannot be satisfied with a local file, and
# consists of a single path component (i.e., contains no further
# slashes), it is assumed to be a term in the sosa namespace.
#
# Depending on whether the client asked for HTML or not, return a
# redirect to the specification (with the term as fragment ID) or
# returns the local sosa file (RDF or Turtle) that defines the term.
#
# Redirection done with a 303 (See Other) code
######################################################################

RewriteCond  %{HTTP_ACCEPT}  \btext/html\b
RewriteCond  %{REQUEST_FILENAME}  !-f
RewriteRule  ^([^/]+)$  https://www.w3.org/TR/vocab-ssn/#SOSA$1 [R=303,NE,env=redirect:1,L]

RewriteCond  %{REQUEST_FILENAME}  !-f
RewriteRule  ^([^/]+)$  sosa


######################################################################
# Redirect based on HTTP Accept, Apache does not always set that
# header, so let's add it ourselves
######################################################################
Header always merge Vary "Accept" env=redirect
