<Files ~ "md.json">
ForceType 'application/json'
</Files>
<Files ~ "json-ld.json">
ForceType 'application/json'
</Files>
<FilesMatch "^(ma-ont|mediaont)\.html$">
ForceType 'text/html; charset=iso-8859-1'
</FilesMatch>
