
# Added CORS for everything!   sandro@w3.org 2015-05-05
# (wait for sys) Header set Access-Control-Allow-Origin "*"

<Files ~ "md.json">
ForceType 'application/json'
</Files>

<Files ~ "json-ld.json">
ForceType 'application/json'
</Files>

# Added the access-control-allow ivan@w3.org 2015-05-01
<Files ~ "json-ld.jsonld">
Header set Access-Control-Allow-Origin "*"
ForceType 'application/ld+json'
</Files>

# Added the access-control-allow ivan@w3.org 2015-05-01
<Files ~ "csvw.jsonld">
ForceType 'application/ld+json'
Header set Access-Control-Allow-Origin "*"
</Files>
<Files ~ "csvw.ttl">
Header set Access-Control-Allow-Origin "*"
</Files>

# Added the access-control-allow ivan@w3.org 2015-05-01
<Files ~ "oa.jsonld">
Header set Access-Control-Allow-Origin "*"
ForceType 'application/ld+json'
</Files>

# Added the access-control-allow ivan@w3.org 2015-08-19
<Files ~ "anno.jsonld">
Header set Access-Control-Allow-Origin "*"
ForceType 'application/ld+json'
</Files>
<Files ~ "anno.json">
Header set Access-Control-Allow-Origin "*"
ForceType 'application/ld+json'
</Files>

# Added by andrei@w3.org 2015-10-30
<Files ~ “ldp.jsonld">
Header set Access-Control-Allow-Origin "*"
ForceType 'application/ld+json'
</Files>


<FilesMatch "^(ma-ont|mediaont)\.html$">
ForceType 'text/html; charset=iso-8859-1'
</FilesMatch>

RewriteEngine On
RewriteBase /ns/

# added sandro@w3.org 2013-11-29 per
# https://lists.w3.org/Archives/Team/vocab-services/2013Nov/0002.html
# JK: the following header unset rules are very specific to 
# this proxy endpoint; don't duplicate them elsewhere.
RewriteRule ^hydra/(.*)$ http://www.markus-lanthaler.com/hydra/$1 [P,L]
<If "%{REQUEST_URI} =~ m#^/ns/hydra/#">
    Header unset Set-Cookie
    Header unset Expect-CT
    Header unset Content-Security-Policy
    Header unset Server
    Header unset Strict-Transport-Security
    Header set Access-Control-Allow-Origin "*"
</If>

# Added ivan@w3.org 2014-05-02
# http://lists.w3.org/Archives/Public/public-openannotation/2014May/0010.html
RewriteRule ^oa-context-20130208.json oa.jsonld [L,R=307]
RewriteRule ^oa-context.json oa.jsonld [L,R=307]

# added sandro@w3.org 2015-05-05 per discussion with elf at socialWG F2F
<Files ~ "activitystreams*">
Header set Access-Control-Allow-Origin "*"
</Files>

<Files ~ "shex.jsonld">
ForceType 'application/ld+json'
Header set Access-Control-Allow-Origin "*"
</Files>

#### Big Data Europe #####
# added by phila (phil@philarcher.org) 2017-06-28 for BigDataEurope Project
# Vocabulary Contact is Aad Versteden of TenForce and the mu.semte.ch endeavour <aad.versteden@gmail.com>
# See https://lists.w3.org/Archives/Team/team-strat/2017Jun/0064.html
RewriteRule ^bde/(.*)$ https://w3.semte.ch/ns/bde/$1 [P,L]


### Declarative LD Apps #####
# added by phila (phil@philarcher.org) 2017-06-29 on behalf of the Declarative Linked Data Apps CG https://www.w3.org/community/declarative-apps/
# Primary contact is Martynas Jusevičius <martynas@atomgraph.com>
# See https://lists.w3.org/Archives/Team/team-strat/2017Jul/0000.html
# Start with specific vocabs, note that all these begin with ^ldt
RewriteRule ^ldt/core/domain$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/c.ttl [P]
RewriteRule ^ldt/core/templates$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/ct.ttl [P]
RewriteRule ^ldt/document-hierarchy/domain$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/dh.ttl [P]
RewriteRule ^ldt/document-hierarchy/templates$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/dht.ttl [P]
RewriteRule ^ldt/topic-hierarchy/templates$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/tht.ttl [P]
# Hopefully it's now safe to include this one
RewriteRule ^ldt$ https://raw.githubusercontent.com/AtomGraph/Processor/master/src/main/resources/com/atomgraph/processor/ldt.ttl [P]

# added by fd@w3.org for N-triples content negotiation
AddType application/n-triples .nt

# added by dsr@w3.org for thing description content negotiation
AddType text/turtle .ttl
AddType application/ld+json .jsonld

RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^td$ td/td.ttl [R=303]

RewriteCond %{HTTP_ACCEPT} application/ld+json
RewriteRule ^td$ td/w3c-wot-td-context.jsonld [R=303]

#
# /dx/prof
# Requested by DSR 11/Feb/2019
# See: https://www.w3.org/mid/2CF65B55-B28E-4153-A92B-D9972DCB9CA6@w3.org
#
# If requested with text/turtle
RewriteCond %{HTTP_ACCEPT} text/turtle
RewriteRule ^dx/prof/$ https://raw.githubusercontent.com/w3c/dxwg/gh-pages/profilesont/profilesont.ttl [P]

# otherwise return rdf by default
RewriteRule ^dx/prof/$ https://raw.githubusercontent.com/w3c/dxwg/gh-pages/profilesont/profilesont.rdf [P]
