RewriteEngine On
RewriteBase  /ns/sosa/test/

RewriteCond  %{REQUEST_URI}  /ns/sosa/test/toto$
RewriteCond  %{HTTP_ACCEPT}  text/html
RewriteRule  ^(.*)$  /ns/sosa/test/om.rdf

RewriteCond  %{REQUEST_URI}  /ns/sosa/test/toto$
RewriteCond  %{HTTP_ACCEPT}  !text/html
RewriteRule  ^(.*)$  /ns/sosa/test/om.ttl

