######################################################################
# Rewrite rules for the SOSA Sample relationships module
#
# See /ns/sosa/.htaccess for details about directives used here.
######################################################################

RewriteEngine On
RewriteBase  /ns/sosa/sampling/


######################################################################
# Serve the ontology file by default
######################################################################
DirectoryIndex sosa-sampling


######################################################################
# File-specific headers
######################################################################
<Files ~ "sosa-sampling\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-sampling.rdf"
</Files>

<Files ~ "sosa-sampling\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-sampling.ttl"
</Files>


######################################################################
# Redirect requests to individual ontology terms
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/sosa/sampling/(RelationshipNature|SampleRelationship|hasSampleRelationship|natureOfRelationship|relatedSample)$
RewriteCond  %{HTTP_ACCEPT}  text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn/#SAMP$1 [R=303,NE,env=redirect:1]

RewriteCond  %{REQUEST_URI}  /ns/sosa/sampling/(RelationshipNature|SampleRelationship|hasSampleRelationship|natureOfRelationship|relatedSample)$
RewriteCond  %{HTTP_ACCEPT}  !text/html
RewriteRule  ^(.*)$  /ns/sosa/sampling/ [R=303,env=redirect:1]


######################################################################
# Redirect based on HTTP Accept, Apache does not always set that
# header, so let's add it ourselves
######################################################################
Header always merge Vary "Accept" env=redirect