######################################################################
# Rewrite rules for the SSN Ext Ontology
#
# See /ns/sosa/.htaccess for details about directives used here.
######################################################################

RewriteEngine On
RewriteBase  /ns/ssn/ext/


######################################################################
# Serve the ontology file by default
######################################################################
DirectoryIndex ssn-ext


######################################################################
# Redirect requests to individual ontology terms
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/ssn/ext/(ObservationCollection|hasMember|hasUltimateFeatureOfInterest)$
RewriteCond  %{HTTP_ACCEPT}  text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn-ext/#SSN$1 [R=303,NE,env=redirect:1]

RewriteCond  %{REQUEST_URI}  /ns/ssn/ext/(ObservationCollection|hasMember|hasUltimateFeatureOfInterest)$
RewriteCond  %{HTTP_ACCEPT}  !text/html
RewriteRule  ^(.*)$  /ns/ssn/ext/ [R=303,env=redirect:1]


######################################################################
# Redirect based on HTTP Accept, Apache does not always set that
# header, so let's add it ourselves
######################################################################
Header always merge Vary "Accept" env=redirect