
RewriteEngine On
RewriteBase /ns/hydra/

RewriteRule ^spec/(.*)$ https://www.hydra-cg.com/spec/$1 [R=302,L]

# the following rule omits ^ in order to match core/context.jsonld as well
RewriteRule context\.jsonld$ core [R=permanent,L]

