RewriteEngine On
RewriteBase /ns/solid/

#RewriteRule ^app.ttl$	  http://solid.github.io/vocab/solid-app.ttl [P]
#RewriteRule ^terms.ttl$	  http://solid.github.io/vocab/solid-terms.ttl [R]

RewriteRule ^app\.(.*)$	  https://solid.github.io/vocab/solid-app.$1 [P]
RewriteRule ^terms\.(.*)$ https://solid.github.io/vocab/solid-terms.$1 [P]

RewriteRule ^$ https://github.com/solid/vocab [R=303]
