RewriteEngine On

RewriteBase /2022/wot

### Redirection settings for WoT TD 1.1 resources
RewriteRule ^td/v1.1$ https://w3c.github.io/wot-resources/td/v1.1/context/td-context-1.1.jsonld [P]

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^tm$ https://w3c.github.io/wot-resources/td/v1.1/ontology/tm.ttl [P]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule ^tm$ https://w3c.github.io/wot-resources/td/v1.1/ontology/tm.html [P]

RewriteRule ^td-schema/v1.1$ https://w3c.github.io/wot-resources/td/v1.1/validation/td-json-schema-validation.json [P]

RewriteRule ^tm-schema/v1.1$ https://w3c.github.io/wot-resources/td/v1.1/validation/tm-json-schema-validation.json [P]
