# Installed on 2020-01-23, Ivan Herman

RewriteEngine On
RewriteBase /ns/did/shacl/
AddType application/ld+json .jsonld
AddType text/turtle .ttl
AddType application/rdf+xml .rdf


RewriteRule ^v1.jsonld$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-shape-v1.jsonld [P]
RewriteRule ^v1.json$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-shape-v1.jsonld [P]
RewriteRule ^v1.ttl$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-shape-v1.ttl [P]

