# $Id$
<Files ~ "\.html">
ForceType 'text/html; charset=UTF-8'
</Files>

<Files ~ "\.ttl">
ForceType 'text/turtle; charset=UTF-8'
</Files>

Options -MultiViews

RewriteEngine On
RewriteBase /ns/owl-profile/

RewriteRule ^$ Overview

