RewriteEngine On
RewriteBase /ns/credentials/json-schema/
# RewriteBase /2025/credentials/redirects/credentials/json-schema/
AddType application/ld+json .jsonld

RewriteRule ^v2.json$ https://www.w3.org/2022/credentials/v2/json-schema-credential-schema.json [P]
RewriteRule ^v2$ https://www.w3.org/2022/credentials/v2/json-schema-credential-schema.json [P]

