RewriteEngine On
RewriteBase /ns/credentials/json-schema/
AddType application/ld+json .jsonld

RewriteRule ^v2.json$ https://w3c.github.io/vc-json-schema/schema/json-schema-credential-schema.json [P]
RewriteRule ^v2$ https://w3c.github.io/vc-json-schema/schema/json-schema-credential-schema.json [P]

