RewriteEngine On
RewriteBase /ns/credentials/json-schema/
# RewriteBase /2025/credentials/redirects/credentials/json-schema/

RewriteRule ^v2.json$ /2022/credentials/v2/json-schema-credential-schema.json [PT]
RewriteRule ^v2$ /2022/credentials/v2/json-schema-credential-schema.json [PT]

