RewriteEngine On
RewriteBase /ns/credentials/
# RewriteBase /2025/credentials/redirects/credentials/

# The v2 of the core VCDM JSON-LD context:
RewriteRule ^v2$ /2025/credentials/vcdm/context/v2.jsonld [E=json,PT]


# The v2 of the example JSON-LD context, used for the examples in the VCDM specification
RewriteRule ^examples/v2$ /2025/credentials/vcdm/examples/context/v2.jsonld [E=json,PT]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^examples$ /2025/credentials/vcdm/examples/vocab/v2/vocabulary.html [PT]
RewriteRule ^examples#$ /2025/credentials/vcdm/examples/vocab/v2/vocabulary.html [PT]

# The v2 of the undefined term JSON-LD context, used for the undefined terms in the VCDM specification
RewriteRule ^undefined-terms/v2$ /2025/credentials/vcdm/undefined-terms/context/v2.jsonld [E=json,PT]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^undefined-terms$ /2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [PT]
RewriteRule ^undefined-terms#$ /2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [PT]

# There was a mess in the past whether the term was called "undefined-term" or "undefined-terms". This is a redirect for the old term.
# Just not to break old usage...
RewriteRule ^undefined-term/v2$ /2025/credentials/vcdm/undefined-terms/context/v2.jsonld [E=json,PT]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^undefined-term$ /2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [PT]
RewriteRule ^undefined-term#$ /2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [PT]

#### Status list additions
RewriteRule ^status$ /ns/credentials/status/ [PT]

Header set Content-Type application/ld+json env=json


