RewriteEngine On
RewriteBase /ns/credentials/
# RewriteBase /2025/credentials/redirects/credentials/
AddType application/ld+json .jsonld
AddType text/turtle .ttl

# The v2 of the core VCDM JSON-LD context:
RewriteRule ^v2$ https://www.w3.org/2025/credentials/vcdm/context/v2.jsonld [E=json,P]


# The v2 of the example JSON-LD context, used for the examples in the VCDM specification
RewriteRule ^examples/v2$ https://www.w3.org/2025/credentials/vcdm/examples/context/v2.jsonld [E=json,P]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^examples$ https://www.w3.org/2025/credentials/vcdm/examples/vocab/v2/vocabulary.html [P]
RewriteRule ^examples#$ https://www.w3.org/2025/credentials/vcdm/examples/vocab/v2/vocabulary.html [P]

# The v2 of the undefined term JSON-LD context, used for the undefined terms in the VCDM specification
RewriteRule ^undefined-terms/v2$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/context/v2.jsonld [E=json,P]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^undefined-terms$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [P]
RewriteRule ^undefined-terms#$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [P]

# There was a mess in the past whether the term was called "undefined-term" or "undefined-terms". This is a redirect for the old term.
# Just not to break old usage...
RewriteRule ^undefined-term/v2$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/context/v2.jsonld [E=json,P]
# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^undefined-term$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [P]
RewriteRule ^undefined-term#$ https://www.w3.org/2025/credentials/vcdm/undefined-terms/vocab/v2/vocabulary.html [P]

#### Status list additions
RewriteRule ^status$ https://www.w3.org/ns/credentials/status/ [P]

Header set Content-Type application/ld+json env=json


