RewriteEngine On
RewriteBase /ns/credentials/
AddType application/ld+json .jsonld
AddType text/turtle .ttl


# The v2 of the core VCDM JSON-LD context:
RewriteRule ^v2$ https://w3c.github.io/vc-data-model/contexts/credentials/v2 [E=json,P]

# The vocabulary referred to via a @vocab statement at the end of the core VCDM JSON-LD context
RewriteRule ^issuer-dependent$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/issuer-dependent.html [P]

# The v2 of the example JSON-LD context, used for the examples in the VCDM specification
RewriteRule ^examples/v2$ https://w3c.github.io/vc-data-model/contexts/credentials/examples/v2 [E=json,P]

# The v2 example context file is just a @vocab statement to ns/credentials/examples
RewriteRule ^examples$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/examples.html [P]
RewriteRule ^examples#$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/examples.html [P]

# The handling of the index is done through index.var file, yielding content negotiations to the 
# html/ttl/jsonld core vocabulary.
RewriteRule ^$ https://www.w3.org/ns/credentials/index [P]

# HOWEVER: the index is actually not in use, the WG decision (so far) is to keep
# the core vocabulary at https://www.w3.org/2018/credentials/ (with content negotiations installed there).
# Ie, these URL-s yield a 404.
# If the WG's decision is to use the /ns/credentials/ for the core vocabulary, too, then the following three
# lines should be uncommented
# RewriteRule ^index.html$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.html [P]
# RewriteRule ^index.ttl$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.ttl [P]
# RewriteRule ^index.jsonld$ https://w3c.github.io/vc-data-model/vocab/credentials/v2/vocabulary.jsonld [P]


#### Status list additions
RewriteRule ^status$ https://www.w3.org/ns/credentials/status/ [P]
# RewriteRule ^status.html$ https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.html [P]
# RewriteRule ^status.ttl$ https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.ttl [P]
# RewriteRule ^status.jsonld$ https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.jsonld [P]


Header set Content-Type application/ld+json env=json


