#Options -MultiViews
#AddType application/rdf+xml .owl
#RewriteEngine On
#RewriteBase   /ns/lemon
#DirectoryIndex ontolex.owl
#RewriteRule ^ontolex$ ontolex.owl [R=303]
RewriteEngine On
RewriteBase /ns/lemon

DirectoryIndex ontolex.owl

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

RewriteRule ^(.+)$		/ns/lemon/ [R=303,L]