# /dx/prof
# Requested by Nicholas Car 20200217

RewriteEngine on
RewriteBase /ns/dx/prof/role/

# Roles vocab URIs
RewriteRule ^constraints$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^example$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^guidance$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^mapping$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^schema$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^specification$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^validation$ https://www.w3.org/ns/dx/prof/role
RewriteRule ^vocabulary$ https://www.w3.org/ns/dx/prof/role

# for https://www.w3.org/ns/dx/prof/role
RewriteRule ^$ https://www.w3.org/ns/dx/prof/index.ttl
