######################################################################
# Rewrite rules for the SOSA PROV alignment
#
# See /ns/sosa/.htaccess for details about directives used here.
######################################################################

RewriteEngine On
RewriteBase  /ns/sosa/prov/


######################################################################
# Serve the ontology file by default
######################################################################
DirectoryIndex sosa-prov


######################################################################
# File-specific headers
######################################################################
<Files ~ "sosa-prov\.rdf$">
    Header set Content-Disposition "inline; filename=sosa-prov.rdf"
</Files>

<Files ~ "sosa-prov\.ttl$">
    Header set Content-Disposition "inline; filename=sosa-prov.ttl"
</Files>


######################################################################
# Redirect requests to individual ontology terms
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/sosa/prov/(eventAssociation|hadProcedure)$
RewriteCond  %{HTTP_ACCEPT}  text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn/#PROV_Alignment [R=303,NE,env=redirect:1]

RewriteCond  %{REQUEST_URI}  /ns/sosa/prov/(eventAssociation|hadProcedure)$
RewriteCond  %{HTTP_ACCEPT}  !text/html
RewriteRule  ^(.*)$  /ns/sosa/prov/ [R=303,env=redirect:1]


######################################################################
# Redirect based on HTTP Accept, Apache does not always set that
# header, so let's add it ourselves
######################################################################
Header always merge Vary "Accept" env=redirect