RewriteEngine On
RewriteBase /ns/data-integrity/

# The core Data Integrity JSON-LD context:
RewriteRule ^v1$ https://w3c.github.io/vc-data-integrity/contexts/data-integrity/v1 [E=json,P]


Header set Content-Type application/ld+json env=json


