# Change on 2020-04-10: changed the redirection per
#     https://github.com/w3c/did-core/pull/238#issuecomment-611820943

RewriteEngine On
RewriteBase /ns/did/vocab/
AddType application/ld+json .jsonld
AddType text/turtle .ttl
AddType application/rdf+xml .rdf


# Changes added on the latest block due URL name changes, 2019-10-12 (Ivan Herman)
RewriteRule ^v1.jsonld$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-v1.jsonld [P]
RewriteRule ^v1.json$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-v1.jsonld [P]
RewriteRule ^v1.ttl$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-v1.ttl [P]

