# Installed on 2020-01-23

RewriteEngine On
RewriteBase /ns/did/shex/
AddType application/ld+json .jsonld
AddType text/shex .shex


RewriteRule ^v1.shex$ https://w3c.github.io/did-spec-registries/vocabs/DID-core-shape-v1.shex [P]

