# Change on 2020-04-10: changed the redirection per
#     https://github.com/w3c/did-core/pull/238#issuecomment-611820943

RewriteEngine On
RewriteBase /ns/did/
AddType application/ld+json .jsonld


# Changes added on the latest block due URL name changes, 2019-10-12 (Ivan Herman)
RewriteRule ^v1.jsonld$ https://w3c.github.io/did-core-registries/contexts/did-v1.jsonld [P]
RewriteRule ^v1.json$ https://w3c.github.io/did-core-registries/contexts/did-v1.jsonld [P]

