RewriteEngine On
RewriteBase   /ns/ws-policy

DirectoryIndex Overview.html

RewriteRule   ^(Sha1Exc)$	policy.html

RewriteRule   ^(policytypes|localpolicyreference|remotepolicyreference)$	policy-attach.html

