RewriteEngine On
RewriteBase /ns/credentials/status/
AddType application/ld+json .jsonld
AddType text/turtle .ttl

RewriteRule ^$ https://www.w3.org/ns/credentials/status/index [P]

RewriteRule ^index.html$   https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.html [P]
RewriteRule ^index.ttl$    https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.ttl [P]
RewriteRule ^index.jsonld$ https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.jsonld [P]
RewriteRule ^index.svg$    https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.svg [P]

RewriteRule ^vocabulary.html$   https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.html [P]
RewriteRule ^vocabulary.ttl$    https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.ttl [P]
RewriteRule ^vocabulary.jsonld$ https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.jsonld [P]
RewriteRule ^vocabulary.svg$    https://w3c.github.io/vc-bitstring-status-list/vocab/vocabulary.svg [P]


Header set Content-Type application/ld+json env=json
Í
