RewriteEngine On
RewriteBase /ns/credentials/status/
# RewriteBase /2025/credentials/redirects/credentials/status/
AddType application/ld+json .jsonld
AddType text/turtle .ttl

RewriteRule ^v1$ https://www.w3.org/2025/credentials/sl/context/v1.jsonld [E=json,P]

RewriteRule ^$ https://www.w3.org/ns/credentials/status/index [P]

RewriteRule ^index.html$   https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.html [P]
RewriteRule ^index.ttl$    https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.ttl [P]
RewriteRule ^index.jsonld$ https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.jsonld [P]
RewriteRule ^index.svg$    https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.svg [P]

RewriteRule ^vocabulary.html$   https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.html [P]
RewriteRule ^vocabulary.ttl$    https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.ttl [P]
RewriteRule ^vocabulary.jsonld$ https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.jsonld [P]
RewriteRule ^vocabulary.svg$    https://www.w3.org/2025/credentials/sl/vocab/v1/vocabulary.svg [P]


Header set Content-Type application/ld+json env=json
