RewriteEngine On
RewriteBase /ns/credentials/status/
# RewriteBase /2025/credentials/redirects/credentials/status/

RewriteRule ^v1$ /2025/credentials/sl/context/v1.jsonld [E=json,PT]

RewriteRule ^$ /ns/credentials/status/index [PT]

RewriteRule ^index.html$   /2025/credentials/sl/vocab/v1/vocabulary.html [PT]
RewriteRule ^index.ttl$    /2025/credentials/sl/vocab/v1/vocabulary.ttl [PT]
RewriteRule ^index.jsonld$ /2025/credentials/sl/vocab/v1/vocabulary.jsonld [PT]
RewriteRule ^index.svg$    /2025/credentials/sl/vocab/v1/vocabulary.svg [PT]

RewriteRule ^vocabulary.html$   /2025/credentials/sl/vocab/v1/vocabulary.html [PT]
RewriteRule ^vocabulary.ttl$    /2025/credentials/sl/vocab/v1/vocabulary.ttl [PT]
RewriteRule ^vocabulary.jsonld$ /2025/credentials/sl/vocab/v1/vocabulary.jsonld [PT]
RewriteRule ^vocabulary.svg$    /2025/credentials/sl/vocab/v1/vocabulary.svg [PT]


Header set Content-Type application/ld+json env=json
