RewriteEngine On

RewriteBase /2019/wot

### Redirection settings for WoT 1.0 resources

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^td$ https://w3c.github.io/wot-resources/td/v1.1/ontology/td.ttl [P]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule ^td$ https://w3c.github.io/wot-resources/td/v1.1/ontology/td.html [P]

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^json-schema$ https://w3c.github.io/wot-resources/td/v1.1/ontology/jsonschema.ttl [P]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule ^json-schema$ https://w3c.github.io/wot-resources/td/v1.1/ontology/jsonschema.html [P]

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^security$ https://w3c.github.io/wot-resources/td/v1.1/ontology/wotsec.ttl [P]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule ^security$ https://w3c.github.io/wot-resources/td/v1.1/ontology/wotsec.html [P]

RewriteCond %{HTTP:Accept} text/turtle [NC]
RewriteRule ^hypermedia$ https://w3c.github.io/wot-resources/td/v1.1/ontology/hctl.ttl [P]

RewriteCond %{HTTP:Accept} text/html [NC]
RewriteRule ^hypermedia$ https://w3c.github.io/wot-resources/td/v1.1/ontology/hctl.html [P]

RewriteRule ^td-schema/v1$ https://w3c.github.io/wot-resources/td/v1/validation/td-json-schema-validation.json [P]

RewriteRule ^td/v1$ https://w3c.github.io/wot-resources/td/v1/context/td-context-1.1.jsonld [P]
