# /dx/prof
# Requested by Nicholas Car 20190402


RewriteEngine on
RewriteBase /ns/dx/prof/

RewriteRule ^ResourceDescriptor$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^ResourceRole$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^Profile$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^hasArtifact$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^isInheritedFrom$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^isProfileOf$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^isTransitiveProfileOf$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^hasResource$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^hasRole$ /TR/dx-prof/prof.ttl [R=permanent, L]
RewriteRule ^hasToken$ /TR/dx-prof/prof.ttl [R=permanent, L]

# If requested with text/turtle
RewriteCond "%{HTTP_ACCEPT}" "text/turtle"
RewriteRule ^$ /ns/dx/prof/profilesont.ttl [L]

# If requested with application/rdf+xml
RewriteCond "%{HTTP_ACCEPT}" "application/rdf\+xml"
RewriteRule ^$ /ns/dx/prof/profilesont.rdf [L]



