RewriteEngine On
RewriteBase  /ns/ssn/
RewriteCond  %{REQUEST_URI}  !/ns/ssn/dul/.*
RewriteCond  %{REQUEST_URI}  !/ns/ssn/Overview.*
RewriteCond  %{REQUEST_URI}  /ns/ssn/(.*)(#.*)?
RewriteRule  ^(.*)$  /ns/ssn/Overview$1 [P] 