RewriteEngine On
RewriteBase  /ns/ssn/systems/
RewriteCond  %{REQUEST_URI}  !/ns/ssn/systems/Overview.*
RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/(.*)(#.*)?
RewriteRule  ^(.*)$  /ns/ssn/systems/Overview$2 [P] 