######################################################################
# Rewrite rules for the SSN Systems module
#
# See /ns/sosa/.htaccess for details about directives used here.
######################################################################

RewriteEngine On
RewriteBase  /ns/ssn/systems/


######################################################################
# File-specific headers
######################################################################
<Files ~ "ssn-system\.rdf$">
    Header set Content-Type "application/rdf+xml"
    Header set Content-Disposition "inline; filename= ssn-system.rdf"
    Header set Content-Location "http://www.w3.org/ns/ssn/systems/ssn-system.rdf" env=REDIRECT_redirect
</Files>

<Files ~ "ssn-system\.ttl$">
    Header set Content-Type "text/turtle"
    Header set Content-Disposition "inline; filename= ssn-system.ttl"
    Header set Content-Location "http://www.w3.org/ns/ssn/systems/ssn-system.ttl" env=REDIRECT_redirect
</Files>


######################################################################
# Serve request to the directory based on the Accept HTTP header
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/?$
RewriteCond %{HTTP_ACCEPT} !(application/rdf\+xml|text/html)
RewriteRule  ^(.*)$  /ns/ssn/systems/ssn-system.ttl [env=redirect:1]

RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/?$
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule  ^(.*)$  /ns/ssn/systems/ssn-system.rdf [env=redirect:1]

RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/?$
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn/#System-capabilities [R=303,NE,env=redirect:1]


######################################################################
# Redirect requests to individual ontology terms
######################################################################
RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/(Accuracy|ActuationRange|BatteryLifetime|Condition|DetectionLimit|Drift|Frequency|inCondition|Latency|MaintenanceSchedule|MeasurementRange|OperatingPowerRange|OperatingProperty|OperatingRange|Precision|Resolution|ResponseTime|SystemCapability|SystemProperty|Selectivity|Sensitivity|SurvivalProperty|SurvivalRange|SystemLifetime|hasOperatingProperty|hasOperatingRange|hasSurvivalProperty|hasSurvivalRange|hasSystemCapability|hasSystemProperty|qualityOfObservation)
RewriteCond %{HTTP_ACCEPT} !(application/rdf\+xml|text/html)
RewriteRule  ^(.*)$  /ns/ssn/systems/ssn-system.ttl [R=303,env=ttl:1]
Header always set Content-Type "text/turtle" env=ttl

RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/(Accuracy|ActuationRange|BatteryLifetime|Condition|DetectionLimit|Drift|Frequency|inCondition|Latency|MaintenanceSchedule|MeasurementRange|OperatingPowerRange|OperatingProperty|OperatingRange|Precision|Resolution|ResponseTime|SystemCapability|SystemProperty|Selectivity|Sensitivity|SurvivalProperty|SurvivalRange|SystemLifetime|hasOperatingProperty|hasOperatingRange|hasSurvivalProperty|hasSurvivalRange|hasSystemCapability|hasSystemProperty|qualityOfObservation)
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule  ^(.*)$  /ns/ssn/systems/ssn-system.rdf [R=303,env=rdf:1]
Header always set Content-Type "application/rdf+xml" env=rdf

RewriteCond  %{REQUEST_URI}  /ns/ssn/systems/(Accuracy|ActuationRange|BatteryLifetime|Condition|DetectionLimit|Drift|Frequency|inCondition|Latency|MaintenanceSchedule|MeasurementRange|OperatingPowerRange|OperatingProperty|OperatingRange|Precision|Resolution|ResponseTime|SystemCapability|SystemProperty|Selectivity|Sensitivity|SurvivalProperty|SurvivalRange|SystemLifetime|hasOperatingProperty|hasOperatingRange|hasSurvivalProperty|hasSurvivalRange|hasSystemCapability|hasSystemProperty|qualityOfObservation)
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule  ^(.*)$  https://www.w3.org/TR/vocab-ssn/#SSNSYSTEM$1 [R=303,NE,env=html:1]


######################################################################
# Rewrite rules vary the response based on the Accept HTTP header, so
# make sure we tell network caches about that.
######################################################################
Header always merge Vary "Accept" env=redirect
Header always merge Vary "Accept" env=rdf
Header always merge Vary "Accept" env=ttl
Header always merge Vary "Accept" env=html