RewriteEngine On
RewriteBase /ns/controller/

# This is kept for backward compatibility only. The official URL for the context
# is in /ns/cid/
# The v1 of the controller document context context:
RewriteRule ^v1$ https://w3c.github.io/cid/context/v1.jsonld [E=json,P]

Header set Content-Type application/ld+json env=json


