RewriteEngine On
RewriteBase /ns/pub-vocab/

AddType text/turtle .ttl
AddType application/ld+json .jsonld


RewriteRule ^manifest.jsonld$ https://w3c.github.io/pub-vocab/pub-vocab/manifest.jsonld [P]
RewriteRule ^manifest.json$ https://w3c.github.io/pub-vocab/pub-vocab/manifest.jsonld [P]
RewriteRule ^manifest.rdf$ https://w3c.github.io/pub-vocab/pub-vocab/manifest.rdf [P]
RewriteRule ^manifest.ttl$ https://w3c.github.io/pub-vocab/pub-vocab/manifest.ttl [P]
RewriteRule ^manifest.html$ https://w3c.github.io/pub-vocab/pub-vocab/manifest.html [P]

