
<Files ~ "\.html">
ForceType 'text/html; charset=UTF-8'
</Files>

<Files ~ "\.ttl">
ForceType 'text/turtle; charset=UTF-8'
</Files>

RewriteEngine On
RewriteBase /ns/entailment/

RewriteRule ^$ Entailment

RewriteRule ^D$ data/D [R=303]
RewriteRule ^OWL-Direct$ data/OWL-Direct [R=303]
RewriteRule ^OWL-RDF-Based$ data/OWL-RDF-Based [R=303]
RewriteRule ^RDF$ data/RDF [R=303]
RewriteRule ^RDFS$ data/RDFS [R=303]
RewriteRule ^RIF$ data/RIF [R=303]
RewriteRule ^Simple$ data/Simple [R=303]
RewriteRule ^D$ data/D [R=303]

RewriteRule ^test$ data/D [R=303]
