# $Id$
<Files ~ "\.html">
ForceType 'text/html; charset=UTF-8'
</Files>

<Files ~ "\.ttl">
ForceType 'text/turtle; charset=UTF-8'
</Files>

RewriteEngine On
RewriteBase /ns/entailment/

RewriteRule ^D$ data/D [R=303]

RewriteRule ^test$ data/D [R=303]
